.programaores{
  
  
padding: 50px;


 

}
img{
  width:100;
}
.cajaCentral{
     display:flex;
    flex-direction: row;
 align-self: flex-end;
   border-radius: 2px solid red;
align-items: center;
gap:20px;
    flex-wrap: wrap;
    margin:auto;
     
   
}